.container
  .jumbotron
    h1 NICESTACK
    p Welcome to NICESTACK! The only place for Big Data Tax Services.

  .row
    .col-md-6
      div(ng-include="'/partials/main/pending-workpapers'")
    .col-md-6
      div(ng-include="'/partials/main/new-workpapers'")

